<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895123428060-jfj4t550gre0igslbk1tin44ce1dp11h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895123428060-jfj4t550gre0igslbk1tin44ce1dp11h</string>
	<key>API_KEY</key>
	<string>AIzaSyAGf6eci5AYTBj81GMF4Trl8qBqZcrbCd0</string>
	<key>GCM_SENDER_ID</key>
	<string>895123428060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vlsuv-todo</string>
	<key>PROJECT_ID</key>
	<string>vlsuv-todo-8ac5b</string>
	<key>STORAGE_BUCKET</key>
	<string>vlsuv-todo-8ac5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895123428060:ios:8a4f1c1f861ac0c2e15a19</string>
	<key>DATABASE_URL</key>
	<string>https://vlsuv-todo-8ac5b.firebaseio.com</string>
</dict>
</plist>